<div class="content_about">
  <div class="container">
    <div class="row">
      <div class="text-center"><h1 class="title_mission">NOTRE MISSION</h1> </div>
      <div class="text-center">
        <h3 class="mission"> CREA RUN est une association dont la mission
           est de rester créative et active aux fins de favoriser l'émancipation matérielle et intellectuelle.
           Elle vise l'autonomie intellectuelle et matérielle,
            CREA RUN prétend vouloir être active sur un maximum d'actions favorisant l'épanouissement.
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="content_team">
  <div class="container">
    <div class="row">
        <div class="text-center"><h1 class="title_team">NOTRE EQUIPE</h1> </div>
          <div class="col-lg-6">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Abdlemalick khireddine</h2>
            <p>Président de CREA RUN</p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-6">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Lydie Laclos</h2>
            <p>Secretaire générale de CREA run </p>
          </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->
  </div>
</div>
