
<div id="home">
  <div style=" background-image: url(/voile.jpg)" class="homepage">
    <div class="container">
      <div class="homepage-content">
        <div class="text-center">
          <h1 class="slogan">Le loisir et la créativité pour tous </h1>
        </div>

      </div>
    </div>
  </div>
</div>
