@import "bootstrap-sprockets";
@import "bootstrap";
.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
    color: red;
    font-size: 2em;
    font-weight:  bold;
}
.navbar-default .navbar-nav > li > a
{
    color: red;
    font-size: 18px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

}
.navbar-default
{
    padding-top: 15px;
    background-color: white;
    border-color: transparent;
    height: 80px;
}
ul.nav.navbar-nav.navbar-right
{
  background: white;
}
section
{
    text-align: center;
    background-image: url(/gif_mbot1.gif);
    height: 650px;
    background-size: cover;
    background-repeat:no-repeat;
    color: white;
}
@media (min-width: 50em) {
  section {
    background-image: url(/enfant_robot.jpg);
      color: black;
  }
}
.btn.btn-danger
{
  height: 50px;
  background-color: white;
  color: red;
  margin-left: 15px;
  font-size: 18px;
  margin-bottom: 5px;
}
.btn.btn-danger.diff
{
  height: 50px;
  background-color: red;
  color: white;
  margin-left: 15px;
  font-size: 18px;
  margin-bottom: 5px;
}

h1.baseline
{
  margin-top: 300px;
  font-weight: bold;
  font-size: 50px;
}
aside
{
  height: 300px;
  background-color: red;

}
.text_footer
{
  font-size: 18px;
}
/*page apropos*/
h1.title_mission
{
  margin-top:200px;
  margin-bottom: 80px;
  color: red;
}
h1.title_team
{
  margin-top:50px;
  margin-bottom: 50px;
  color: red;
}
.content_about
{
  background: #f1f1f1;
  padding-bottom: 60px;
}
.mission
{
  font-family: "NHaasGroteskDSW01-75Bd",Times,Georgia,serif;
    font-style: normal;
    font-weight: normal;
    color: #2d2828;
    font-size: 28px;
    line-height: 38px;
    text-align: left;
}
.content_team
{
  background: #f1f1f1;
  padding-bottom: 60px;
}
.col-lg-6 {
    margin-bottom: 20px;
    text-align: center;
}
.row {
    margin-left: 15px;
    margin-right: 15px;
}
.navbar-nav
{
  background: black;
}
/*page atelier*/
img.img_atelier
{
  width: 100%;
}
h3.title_atelier
{
  margin-bottom: 50px;

}
.list-group-item.active.button
{
    z-index: 2;
    color: #fff;
    background-color: black;
    border-color: black;
}
.atelier
{
   margin-top: 70px;
   margin-bottom: 70px;
}
footer.text-center
{
   margin-bottom: 20px;
}
/* form membre*/
.form-control
{
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
