@import "bootstrap-sprockets";
@import "bootstrap";
.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
    color: white;
    font-size: 2em;
    font-weight:  bold;
}
.navbar-default .navbar-nav > li > a
{
    color: white;
    font-size: 18px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:  bold;
}
.navbar-default {
  padding-top: 20px;
    background-color: transparent;
    border-color: transparent;
}
section {
    text-align: center;
    background-image: url(/voile.jpg);
    height: 800px;

     background-size: cover;
}
aside
{
  height: 300px;
  background-color: red;

}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
