@import "bootstrap-sprockets";
@import "bootstrap";
.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
    color: white;
    font-size: 2em;
    font-weight:  bold;
}
.navbar-default .navbar-nav > li > a
{
    color: white;
    font-size: 18px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:  bold;
}
.navbar-default
{
    padding-top: 15px;
    background-color: #171515;
    border-color: transparent;
    height: 80px;
}
section {
    text-align: center;
    background-image: url(/voile.jpg);
    height: 650px;
    background-size: cover;
}
h1.baseline
{
  margin-top: 300px;
}
aside
{
  height: 300px;
  background-color: red;

}
/*page apropos*/
h1.title_mission
{
  margin-top:150px;
  color: red;
}
h1.title_team
{
  margin-top:50px;
  margin-bottom: 50px;
  color: red;
}
.content_about
{
  background: #f1f1f1;
  padding-bottom: 50px;
}
.mission
{
  font-family: "NHaasGroteskDSW01-75Bd",Times,Georgia,serif;
    font-style: normal;
    font-weight: normal;
    color: #2d2828;
    font-size: 28px;
    line-height: 38px;
    text-align: left;
}
.col-lg-6 {
    margin-bottom: 20px;
    text-align: center;
}
.row {
    margin-left: 15px;
    margin-right: 15px;
}
.navbar-nav
{
  background: black;
}
/*page atelier*/
.img_atelier
{
  width: 100%;
}
h3.title_atelier
{
  margin-bottom: 50px;

}
.list-group-item.active.button
{
    z-index: 2;
    color: #fff;
    background-color: black;
    border-color: black;
}
.atelier
{
  margin-top: 70px;
  margin-bottom: 70px;
}
footer.text-center
{
  margin-bottom: 20px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
